.place-div{
    width: 706px;
    overflow: auto;
    display: none;
    scrollbar-width: none;
}
.place-div::-webkit-scrollbar {
    display: none;
}
.place-card{
    height: 420px;
    width: 270px;
    border-radius: 25px;
    border: 3px solid rgb(230, 199, 27);
    /* margin: 20px 10px; */
}
.place-btn{
    height: 420px;
    width: 270px;
    border-radius: 25px;
    margin: 20px 10px;
    background: inherit;
    border: none;
    position: relative;
    text-align: center;
    color: white;
}
.place-btn:focus{
    outline: 0;
    border: none;
    box-shadow: 15px 10px 12px -3px rgba(245, 202, 30, 0.974)
}

.carousel-caption{
    position: absolute;
    top: 8px;
    left: 16px;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(230, 199, 27);
    font-size: '200px';
    text-align: center;
}
.name-style{
    background-color: orange;
    border-radius: 15px;
    padding: 4px 20px;
}